.home-container {
    max-width: 800px;
    margin: 7.8% auto;
    padding: 2rem;
    text-align: center;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .home-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
  }
  
  .home-content p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #555;
  }
  